<!DOCTYPE html5>
	<html ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<title>angularjs1 eg15 filters and formatting</title>
	</head>
	<body ng-controller="MainCtrl">
		<p>Search <input type="text" ng-model="query"></p>
		<table>
			<tr>
				<th>
					<a href="#" ng-click="sortfield = 'name'; reverse = !reverse">Country</a>
				</th>
				<th>
					<a href="#" ng-click="sortfield = 'population'; reverse = !reverse">Population</a>
				</th>
				<th>
					<a href="#" ng-click="sortfield = 'capital'; reverse = !reverse">Capital</a>
				</th>
				<th>
					<a href="#" ng-click="sortfield = 'gdp'; reverse = !reverse">GDP</a>
				</th>
				<th>Flag</th>
			</tr>
			<tr ng-repeat="country in countries | filter: query | orderBy: sortfield : reverse">
				<td>{{ country.name }}</td>
				<td>{{ country.population | number }}</td>
				<td>{{ country.capital }}</td>
				<td>{{ country.gdp | currency }}</td>
				<td>
					<img ng-src="{{ country.flagURL }}" width="120px">
				</td>
			</tr>
		</table>
		<script src="assets/angular.min.js"></script>
		<script src="script.js"></script>
	</body>
</html>